#manage-coordinates-canvas {
    width: 600px;
    height: 400px;
    float: left;
}

#manage-coordinates-fields {
    float: left;
}

#rte-manage-coordinates {
    padding-left: 5px;
    padding-right: 5px;
}